.offer {
  background: rgba(0, 255, 133, 0.08);
  &__container {
    min-height: 80px;
    margin: 0 auto;
    padding: 100px 70px;
    display: flex;
    flex-direction: column;
    background: url(../../assets/icons/frame.svg) top 125px right 68px no-repeat,
      url(../../assets/icons/frame.svg) bottom 132px left 70px no-repeat;
    @media (max-width: 768px) {
      background: url(../../assets/icons/frame.svg) top 135px right 30px
          no-repeat,
        url(../../assets/icons/frame.svg) bottom 50px left 30px no-repeat;
    }
    @media (max-width: 568px) {
      flex-direction: column;
      padding: 37px 30px 52px 30px;
      align-items: center;
    }
  }
  &__title {
    font-family: Helvetica;
    font-size: 40px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 100px;
  }
  &__container-inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }
  }
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 236px;
    margin-right: 56px;
    @media (max-width: 768px) {
      margin: 0px 0px 50px;
    }
  }
  &__card-text {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    margin-top: 24px;
  }
}
